<div class="bg-gray-100 h-full">
    <div class="content">
        <div class="bg-white p-6 rounded-md">
            <form [formGroup]="paymentDetailsForm" (ngSubmit)="onSubmit()">
                    <h1 class="text-2xl  font-bold uppercase mb-4 text-center">Enter your credit details here</h1>
                        <div class="main">
                            <div *ngIf="paymentDetailsForm.invalid && (paymentDetailsForm.dirty || paymentDetailsForm.touched)" class="bg-red-500 text-white py-2 flex rounded-md px-4">
                                <div *ngIf="paymentDetailsForm.errors?.['required']">
                                    All field is required
                                </div>
                            </div>
                            
                            <div>
                                <label for="card_number">Card number</label>
                                <input id="card_number"  required minlength="11" type="text" formControlName="card_number">
                            </div>
                            <div>
                                <label for="card_holder">card holder</label>
                                <input id="card_holder" required type="text" formControlName="card_holder">
                            </div>
                            <div>
                                <label for="expiration_date">expiration date</label>
                                <input id="expiration_date" required type="text" formControlName="expiration_date">
                            </div>
                            <div>
                                <label for="security_code">security code</label>
                                <input id="security_code" type="text" formControlName="security_code">
                            </div>
                            <div>
                                <label for="amount">Amount</label>
                                <input id="amount" required type="text" formControlName="amount">
                            </div>
                        </div>
                    
                    <button type="submit" [ngClass]="{'opacity-75' : isSubmitting$}" class="bg-blue-600">{{ isSubmitting$ ? 'Submit' : 'saving details...'}}</button>
                    <a routerLink="/">Go back home</a>
                </form>
        </div>
        
    </div>
</div>
