<div class="bg-gray-100 h-full">
    <div class="content">
        <div class="bg-white p-6 rounded-m">
            <form [formGroup]="paymentDetailsForm" (ngSubmit)="onSubmit()">
                <div *ngIf="submited" class="bg-blue-200 rounded text-blue-600 px-6 py-[1rem]">
                    Your form as been submitted successfully
                </div>
                    <h1 class="text-2xl  font-bold uppercase mb-4 text-center">Enter your credit details here</h1>
                        <div class="main">
                            <div>
                                <label for="card_number">Card number</label>
                                <input id="card_number"  type="text" required formControlName="card_number">
                               <div class="bg-red-500 text-sm my-3 text-white py-1 px-3 rounded-sm w-full" *ngIf="card_number?.invalid && (card_number?.dirty || card_number?.touched)">
                                   <div *ngIf="card_number?.errors?.['required']">
                                       Card number is required.
                                   </div>
                                   <div *ngIf="card_number?.errors?.['minlength']">
                                       Card number must be 16.
                                   </div>
                                   <div *ngIf="card_number?.errors?.['maxlength']">
                                       Card number must not be greater than 16.
                                   </div>
                               </div>
                            </div>
                            <div>
                                <label for="card_holder">card holder</label>
                                <input id="card_holder" type="text" required formControlName="card_holder">
                                <div class="bg-red-500 text-sm my-3 text-white py-1 px-3 rounded-sm w-full" *ngIf="card_holder?.invalid && (card_holder?.dirty || card_holder?.touched)">
                                    <div *ngIf="card_holder?.errors?.['required']">
                                        Card holder is required.
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="expiration_date">expiration date</label>
                                <input id="expiration_date" type="date" required formControlName="expiration_date">
                                <div class="bg-red-500 text-sm my-3 text-white py-1 px-3 rounded-sm w-full" *ngIf="expiration_date?.invalid && (expiration_date?.dirty || expiration_date?.touched)">
                                    <div *ngIf="expiration_date?.errors?.['required']">
                                        expiration date is required.
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="security_code">CVV</label>
                                <input id="security_code" type="text" required formControlName="security_code">
                                <div class="bg-red-500 text-sm my-3 text-white py-1 px-3 rounded-sm w-full" *ngIf="security_code?.invalid && (security_code?.dirty || security_code?.touched)">
                                    <div *ngIf="security_code?.errors?.['required']">
                                        CVV number is required.
                                    </div>
                                    <div *ngIf="security_code?.errors?.['minlength']">
                                        CVV number must be 3
                                    </div>
                                    <div *ngIf="security_code?.errors?.['maxlength']">
                                        CVV number must not be greater than 3
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="amount">Amount</label>
                                <input id="amount" type="text" required formControlName="amount">
                                <div class="bg-red-500 text-sm my-3 text-white py-1 px-3 rounded-sm w-full" *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)">
                                    <div *ngIf="amount?.errors?.['required']">
                                        You need to specify an amount.
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <button type="submit" [ngClass]="{'opacity-75' : isSubmitting$}" class="bg-blue-600">{{ isSubmitting$ ? 'Submit' : 'saving details...'}}</button>
                    <a routerLink="/">Go back home</a>
                </form>
        </div>
        
    </div>
</div>
