<div class="bg-red-600 h-screen ">
    <h1 class="capitalize text-3xl font-semibold">Welcome to speedcash payment plartform</h1>
    <div>
        <h1 class="text-lg font-bold">Testing card informations</h1>
        <div class="flex">
            <h1>Card number:</h1>
            9859 6040 4058 9403 3999
        </div>
        <div class="flex">
            <h1>Card holder name:</h1>
            Emmy britt
        </div>
        <div class="flex">
            <h1>Date of expiration:</h1>
            july 29 2023
        </div>
        <div class="flex">
            <h1>Security code:</h1>
            678
        </div>
        <div class="flex">
            <h1>Security code:</h1>
            37,000
        </div>
    </div>
    <a class="bg-blue-600 text-white px-6 rounded-md py-4" routerLink="/submitdetails">
        Click here to make payment
    </a>
</div>